nav{
  height: 90px !important;
  line-height: 90px;
  margin-bottom: 30px;
  background: #1f1f1f
}
a{
  font-size: 20px !important;
}

.logo{
  margin-top: 10px;
  margin-left: 50px
}
.brand-logo{

}

.fade {
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  margin-right: 40px
}

.fade:hover {
  background-image: url("/images/navBg.gif");
  color: #1f1f1f;
  border-bottom: 15px solid #1f1f1f;
}
