<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>HypeFlix</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

  <script src="/js/client.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>
    <nav class="nav-extended black">
      <div class="nav-wrapper">
        <img src="/images/logo.png" height="70px" class="logo">
        <a href="/media" class="brand-logo">HypeFlix</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/media">Media</a></li>


          <% if(locals.isLoggedIn) { %>
            <li class="nav-item">
            <a href="/media/new">Add Media</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
            </li>

            <% } else { %>
              <li class="nav-item">
              <a class="nav-link" href="/login">Log In</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
              </li>
              <% } %>
            </div>
          </nav>
        </header>
        <main>
          <%- body %>
        </main>
        <footer>
        </footer>
      </body>
      </html>
