<div class="container">
  <h1>Media Home</h1>
  <div class="row">
    <ul>
      <% media.forEach(medium => { %>
        <div class="col s4">
        <div class="voteContainer">
        <a href="/media/<%= medium.id %>">
        <img id="image" src="<%= medium.images %>"/>
        </a>
        <p id="upVote">
        </p>
        <p id="textScore">
        <%= medium.score %>
        </p>
        <p id="downVote">
        </p>
        </div>
        </div>
        <% }); %>
      </ul>
    </div>
  </div>
