<div class="container">
  <h1>Media Home</h1>
  <div class="row">
    <ul>
      <% media.forEach(medium => { %>
        <div class="col s4">
        <a href="/media/<%= medium.id %>">
        <li><%= medium.name %></li>
        <li><img class="responsive-img" src="<%= medium.images %>"></li>
        </a>
        </div>
        <% }); %>
      </ul>
    </div>
  </div>
