<div class="container">
  <h3>Add Media</h3>
  <div class="addMediaContainer">
  <form name="searchMedia" id="searchMedia">
    <label>Hyper Search</label>
    <input type="text">
    <input type="submit" onclick="" class="btn btn-success" value="Auto Fill">
  </form>
  <form action="/media" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="imdbName" class="form-control" type="text" name="name" value="">
    </div>

  <form action="/media" method="post">
    <div class="form-group">
      <label for="name">IMDb Rating</label>
      <input id="imdbRating" class="form-control" type="text" name="imdbRating" value="">
    </div>

    <div class="form-group">
      <label for="releaseDate">Release Date</label>
      <input id='imdbReleased' class="form-control" type="text" name="releaseDate" value="">
    </div>

    <div class="form-group">
      <label for="genre">Genre</label>
      <input id='imdbGenre'class="form-control" type="text" name="genre" value="">
    </div>

    <div class="form-group">
      <label for="images">Image</label>
      <input id='imdbPoster'class="form-control" type="text" name="images" value="">
    </div>

    <div class="form-group">
      <label for="synopsis">Synopsis</label>
      <textarea id='imdbPlot'class="" name="synopsis" value=""></textarea>
    </div>

    <input class="btn green" type="submit" value="Add">
  </form>
</div>
</div>
