*{
  font-family: 'Titillium Web', sans-serif;
}
img{
  display: inline-block;
}

.brand-logo{
  margin-left: 10px
}
main{
  background: black
}
.row{
  background: white;
  padding: 15px;
  border-radius: 10px
}
h1,h2,h3,h4,input,textarea{
  color: white;
  padding: 15px
}

.container{
  img{
    max-height:100%;
    height:400px;
    width:250px;
    border: 2px solid #000;
    margin: 20px 20px 20px 0;
    border-radius: 10px;
    float:left;
  }
}

#thumb{
  float: left;
  height:200px;
  width:135px;
  margin: 20px 15px 15px 5px;
  box-shadow: 0px 0px 0px 3px white;
}
.btn-success{
  margin: 10px 0px;
}
#contentContainer{
  margin-bottom:80px;
}

.voteContainer {
  position:relative;
}

.upVote{
  cursor: pointer;
  z-index:100;
  position:absolute;
  background-image: url("/images/upVote.png");
  background-size: 120px 120px;
  height: 120px;
  width: 120px;
  left:80px;
  top:50px;
  opacity: 0.5;
}
.downVote{
  cursor: pointer;
  z-index:100;
  position:absolute;
  background-image: url("/images/downVote.png");
  background-size: 120px 120px;
  height: 120px;
  width: 120px;
  left:80px;
  top:250px;
  opacity: 0.5;
}
.textScore {
  z-index:100;
  position:absolute;
  background-size: 120px 120px;
  -webkit-text-stroke: 0.1px black;
  color:white;
  font-size:50px;
  font-weight:bold;
  text-align: center;
  left:95px;
  top:175px;
  width: 95px;
  opacity: 1;
}
.downVote:hover, .upVote:hover{
  opacity: 1;
}

.comments{
  margin: 30px
}

.carousel .carousel-item {
  margin-top: 270px !important;
  width:300px !important;
  height:950px !important;}
  #carouselContainer{
    height:600px;
  }

  nav{
    height: 90px !important;
    line-height: 90px;
  }
  a{
    font-size: 20px !important;
  }
  .logo{
    margin-top: 10px;
    margin-left: 50px
  }
  .brand-logo{
    font-size: 40px!important;
  }

  .fade {
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    margin-right: 40px
  }

  .fade:hover {
    background: white;
    color: black;
    border-bottom: 15px solid black;
  }
  nav{
    margin-bottom:30px
  }
  .homeContainer{
    padding-top: 50px;
  }
