*{
  font-family: 'Titillium Web', sans-serif;
}
img{
  display: inline-block;
}

.brand-logo{
  margin-left: 10px
}
.row{
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 50px
}
h1,h2,h3,h4,p,input,textarea{
  color: white;
}

.container{
  img{
    max-height:100%;
    height:400px;
    width:250px;
    border: 2px solid #000;
    margin: 20px 20px 20px 0;
    border-radius: 10px;
    float:left;
  }
}

#thumb{
  float: left;
  height:200px;
  width:135px;
  margin: 20px 15px 15px 5px;
  box-shadow: 0px 0px 0px 3px white;
}
.btn-success{
  margin: 10px 0px;
}
#contentContainer{
  margin-bottom:80px;
}

.voteContainer {
  position:relative;
}

.upVote{
  cursor: pointer;
  z-index:100;
  position:absolute;
  background-image: url("/images/upVote.png");
  background-size: 60px 60px;
  height: 60px;
  width: 60px;
  left:100px;
  top:120px;
  opacity: 0.5;
  transition: .5s ease-in-out;
}
.downVote{
  cursor: pointer;
  z-index:100;
  position:absolute;
  background-image: url("/images/downVote.png");
  background-size: 60px 60px;
  height: 60px;
  width: 60px;
  left:100px;
  top:270px;
  opacity: 0.5;
  transition: .5s ease-in-out;
}
.textScore {
  z-index:100;
  position:absolute;
  background-size: 120px 120px;
  color:white;
  font-size:45px;
  font-weight:bold;
  text-align: center;
  left:85px;
  top:190px;
  width: 95px;
  opacity: 1;
}
.downVote:hover, .upVote:hover{
  opacity: 1;
  transform: scale(1.5);
}

.comments{
  margin: 30px
}

.carousel .carousel-item {
  margin-top: 270px !important;
  margin-bottom: 270px !important;
  width:300px !important;
  height:950px !important;
}
#carouselContainer{
  height:600px;
}

nav{
  height: 90px !important;
  line-height: 90px;
}
a{
  font-size: 20px !important;
}
.logo{
  margin-top: 10px;
  margin-left: 50px
}
.brand-logo{
  font-size: 40px!important;
}

.fade {
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  margin-right: 40px
}

.fade:hover {
  background-image: url("/images/navBg.gif");
  color: #1f1f1f;
  border-bottom: 15px solid #1f1f1f;
}
nav{
  margin-bottom:30px
}
.homeContainer{
  padding-top: 50px;
}
body{
  background-image: url("/images/background.jpg");
}
footer{
  background: #0a0a0a;
  p{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .row{
    background: #1f1f1f
  }

}
nav{
  background: #1f1f1f
}

.comments{
  li{
    color: white
  }
}
